@charset "utf-8";

// tetradic harmony via https://color.joelb.dev/hex/ED1878
$tetradic0: hsl(333, 85%, 50%);
$tetradic1: hsl(213, 85%, 50%);
$tetradic2: hsl(153, 85%, 40%); // lightness reduced by 10%
$tetradic3: hsl(33, 85%, 50%);

$primary: $tetradic0;
$info: $tetradic1;

@import "~bulma/bulma.sass";

.has-text-tetradic1 {
  color: $tetradic1 !important;
}
.has-text-tetradic2 {
  color: $tetradic2 !important;
}
.has-text-tetradic3 {
  color: $tetradic3 !important;
}

.has-border-top {
  border-top: 1px solid $white-ter;
}
.has-border-top-medium {
  border-top: 5px solid $white-ter;
}
.has-border-top-large {
  border-top: 10px solid $white-ter;
}

@media screen and (min-width: $tablet) {
  .has-offset-top {
    margin-top: 1em;
    padding-top: 1em;
  }
  .has-offset-top-2 {
    margin-top: 2em;
    padding-top: 1em;
  }
  .has-offset-top-3 {
    margin-top: 3em;
    padding-top: 1em;
  }
}

.is-marginless-bottom {
  margin-bottom: 0 !important;
}

.bricks-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -0.15em;

  .brick {
    flex: 1 1 18em;
    margin: 0.15em;
    max-width: 25em;
  }
}
.brick {
  margin-bottom: 1em;
}
